


* {
    text-align: center;
}




body {
    color: rgb(255, 255, 255);
    font-family: Arial;
    margin-top: 40vh;
    background-image: url('https://get.wallhere.com/photo/landscape-valley-lake-forest-colorscape-sunset-elk-deer-1828771.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.URL-input, .download-button {
    font-size: 1.5em;
    padding: 5px 10px;
}

.URL-input {
    border-radius: 19px 0px 0px 19px;
    width: 730px;
    text-align: left;
    outline: none;
    background: #EEEEEE;
    border:2px solid #afb3b3; 
    /* width:30em; */
}

.download-button {
    border-radius: 0px 19px 19px 0px;
    border:2px solid #0485ff;
    background: #0485ff;
    color: white;
    outline: none;
}

.download-button:active{
    background-color: #ff0000;
    box-shadow: 0 5px rgb(148, 0, 0);
    transform: translateY(4px);
}