{% extends 'base.html' %}

{% block head %}
<title> hi there </title>
{% endblock %}


{% block body %}


<h1>ROGER YouTube Downloader</h1>
<form action="/download" method="POST">

    <input class="URL-input" type="text" name="URL" id="URL" placeholder="Video URL e.g. https://www.youtube.com/watch?v=MtN1YnoL46Q" required="required">
    <input class="download-button" type="submit" value="Download">
    <!-- <button>Submit</button> -->


</form>


{% endblock %}







<!-- <label for="cat" class="auto-length">
    <input type="radio" name="cat" id="cat"> Check if you have a cat.
    <input type="radio" name="cat" id="cat">  cat.
</label> -->